@charset "utf-8";
/* Samuel Mereau */
.form-inputs {
  height: auto;
  display: table;
}
.form-inputs div input,
#testimonial-form textarea {
  width: 300px;
  display: table-cell;
}
.form-inputs div label {
  width: auto;
  display: table-cell;
  padding-right: 10px;
  width: 100px;
  text-align: left;
}
.form-inputs div {
  display: table-row;
  padding-bottom: 10px;
}
.form-inputs div input {
  padding-top: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid lightgrey;
  background-color: #e4e4e44a;
}
#testimonial-form textarea {
  padding-bottom: 50px !important;
  min-width: 300px;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid lightgrey;
  background-color: #e4e4e44a;
}
#testimonial-form textarea:focus,
.form-inputs div input {
  outline: none;
}
#testimonial-form * {
  vertical-align: top;
}
#send {
  padding: 10px 80px;
  margin-top: 80px;
  border: none;
  color: white;
  background-color: #e94d40;
  border-radius: 5px;
}
#send:hover {
  background-color: #d4463a;
}
#form-rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 10px 0;
}
#form-rating input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#form-rating input[type='radio'] + img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#form-rating input[type='radio']:checked + img {
  background: url('../images/star-filled.svg') no-repeat;
  background-size: 30px 30px;
}
.rating {
  width: auto !important;
}
.rating p {
  position: absolute;
  top: 20px;
  padding-left: 10px;
  font-size: 13px;
}
input[type='submit'] {
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .form-inputs > * {
    display: block !important;
  }
  .form-inputs {
    margin-left: auto;
    margin-right: auto;
  }
  .form-inputs div label {
    padding-bottom: 10px;
  }
  #send {
    width: 100%;
    padding: 20px 30px;
  }
  #form-rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
  }
}
